.homeHeader .home-content{
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeHeader .home-content .home-header{
    width: 65%;
    display: flex;
    align-items: flex-end;
}

.homeHeader .home-content .home-header .user-section-img{
    width: 70px;
    height: 70px;
    position: relative;
}

.homeHeader .home-content .home-header .user-section-img img{
    width: 70px;
    height: 70px;
}

.homeHeader .home-content .home-header .user-section-title{
    margin-left: 20px;
}

.homeHeader .home-content .home-header .user-section-title p{
    line-height: 20px;
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--color-title);
}

.homeHeader .home-content .menu-content{
    margin-top: 5vh;
    display: flex;
    width: 65%;
    color: var(--color-title);
    font-weight: 600;
    font-size: 2rem;
}

.homeHeader .home-content .shortcuts{
    width: 100%;
    margin-top: 5vh;
  
    display: flex;
    justify-content: center;
}

.homeHeader .home-content .shortcuts .shortcuts-content{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.homeHeader .home-content .shortcuts .shortcuts-content .itens-menu{
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.homeHeader .home-content .shortcuts .shortcuts-content .itens-menu .itens-single{
    width: 170px;
    height: 170px;
    border: 3px solid var(--foreground);
    border-radius: 15px;
    display: flex;
}

.homeHeader .home-content .shortcuts .shortcuts-content .itens-menu .itens-single a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homeHeader .home-content .shortcuts .shortcuts-content .itens-menu .itens-single img{
    padding: 15px 15px;
    width: 70px;
}

.homeHeader .home-content .shortcuts .shortcuts-content .itens-menu .itens-single p{
    color: var(--text-color); 
    padding: 15px;  
    width: 120px;
}

.homeHeader .home-content .master{
    margin-top: 5vh;
    width: 100%;
}

.homeHeader .home-content .master .masterclass{
    width: 100%;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
}

.homeHeader .home-content .master .masterclass .masterclass-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--foreground);
    border-radius: 8px;
}

.homeHeader .home-content .master .masterclass .masterclass-content .masterclass-item{
    width: 100%;
    padding: 30px 40px;

    display: flex;
    align-items: center;
}

.homeHeader .home-content .master .masterclass .masterclass-content .masterclass-item .masterclass-item-single{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.homeHeader .home-content .master .masterclass .masterclass-content .masterclass-item .masterclass-item-single .masterclass-text{
    font-size: 1.3rem;
}
.homeHeader .home-content .master .masterclass .masterclass-content .masterclass-item .masterclass-item-single .arrow img{
    display: flex;
    width: 40px;
    height: 40px;
}

@media (max-width: 600px ){
    .homeHeader .home-content .home-header{
        width: 90%;
    }

    .homeHeader .home-content .menu-content{
        width: 80%;
    }

    .homeHeader .home-content .shortcuts .shortcuts-content{
        width: 70%;
        overflow-x: auto;
    }

    .homeHeader .home-content .master .masterclass .masterclass-content{
        width: 70%;
    }
}